<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Green Thinking - Correo recuperación</title>
</head>

<body style="padding: 2rem 1rem; margin: 0; background-color: #EAEFFC;">

    <div style="font-family: sans-serif; color:#000; text-align: center; max-width: 600px; height: auto; margin: 0 auto;">
        <!-- <h1>Green Thinking</h1> -->
        <div style="text-align: left; padding: 1rem; /*width: 600px;*/ background-color: #fff; border-radius: 12px;">
            <div style="padding: 20px; border: 1px solid #DBDBDB; border-radius: 12px; font-family: Sans-serif;">
                <img src="../img/logoGT.jpeg" alt="LOGO" style="width: 125px;">
                <h2>Restablecer contrase&ntilde;a</h2>
                <p style="margin-bottom: 25px;">
                    Estimado/a&nbsp;<b>@USUARIO</b>:
                </p>
                <p style="margin-bottom: 25px;">
                    Se solicit&oacute; un restablecimiento de contrase&ntilde;a para tu cuenta, haz clic en el bot&oacute;n
                    que aparece a continuaci&oacute;n para cambiar tu contrase&ntilde;a.
                </p>
                <a style="padding: 12px; border-radius: 12px; background-color: #3ca230; color: #fff;
                    text-decoration: none; font-weight: bold;" href="@LINK" target="_blank">
                    Cambiar contrase&ntilde;a
                </a>
                <p style="margin-top: 25px;">Gracias.</p>
            </div>
        </div>
    </div>

</body>

</html>