<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* Incrustar la fuente personalizada usando @font-face */
        @font-face {
            font-family: 'MuseoSans300';
            src: url('../fonts/MuseoSans-300/MuseoSans-300.woff') format('woff');
        
        }
        @font-face {
            font-family: 'MuseoSans500';
            src: url('../fonts/MuseoSans-500/MuseoSans-500.woff') format('woff');
        
        }
        @font-face {
            font-family: 'MuseoSans700';
            src: url('../fonts/MuseoSans-700/MuseoSans-700.woff') format('woff');
        
        }
    </style>
</head>

<body style="padding: 0; margin: 0; width: 100vw; background-color: #fff;">
    
    <div style="font-family: sans-serif; color:#565B62; max-width: 598.4px; height: auto; margin: 0 auto;
        border: 1px solid #DBDBDB; border-top: none; border-bottom: none; background: linear-gradient(180deg, rgba(191, 201, 217, 0) 48.58%, #F2F2F2 100%);
        /*display: flex; justify-content: center;*/">

        <div style="position: relative; width: 100%;">
            <img src="@IMG_1" alt="" style="display: block; width: 100%; max-width: 598.4px; margin: auto;">
            <img src="@IMG_2" alt="" style="position: absolute; top: 0; margin-top: 17%; width: 25%;">
            <img src="@IMG_3" alt="" style="position: absolute; top: 0; right: 0; height: 30%; margin: 13% 18% 0 0;">
        </div>

        <div style="display: grid; padding: 0 60px 60px;">

            <h1 style="font-family: 'MuseoSans500'; font-size: 1.6rem; color: #304067; text-align: center;">
                Estimado/a usuario
            </h1>

            <p style="font-family: 'MuseoSans300'; text-align: justify; font-size: 0.9rem;">
                Nos complace darte la bienvenida a los cursos que brinda nuestra academia en alianza con <strong style="font-family: 'MuseoSans500';">HUAWEI</strong> con el curso:
            </p>

            <h3 style="font-family: 'MuseoSans500'; font-size: 1rem; text-align: center;">
                “Introducción a Protocolos de Red”
            </h3>

            <img src="@IMG_4" alt="" style="display: block; width: 23.22px; margin: auto;">
                
            <a href="#" style="margin: auto; color: #2B58C6;">https://bit.ly/3AXkZPe</a>

            <p style="font-family: 'MuseoSans300'; text-align: justify; font-size: 0.9rem;">
                Para acceder al sitio de la academia <strong style="font-family: 'MuseoSans500';">HUAWEI</strong> debes de seguir los siguientes pasos:
            </p>

            <ol style="font-family: 'MuseoSans300'; text-align: justify; font-size: 0.9rem; padding-inline-start: 25px;">
                <li>
                    Digitar en tu navegador el enlace proporcionado en este correo
                </li>
                <li>
                    Si ya tienes cuenta Huawei ID, inicia sesión y ve al paso 4, de lo contrario deberás registrarte
                </li>
                <li>
                    Una vez completado el formulario de registro, acepta los términos y condiciones de la plataforma 
                    <strong style="font-family: 'MuseoSans500';">HUAWEI</strong>
                </li>
                <li>
                    Al visualizar el curso, este es identificable por el logo de la secretaria de innovación y en academia verás a la ESIT
                </li>
                <li>
                    Registrarte al curso completando la información correspondiente
                </li>
            </ol>

            <p style="font-family: 'MuseoSans300'; text-align: justify; font-size: 0.9rem;">
                ¿Necesitas más ayuda para acceder al sitio de la academia HUAWEI? ¡Tenemos un video tutorial para ti! Puedes acceder al video utilizando el siguiente enlace:
            </p>

            <img src="@IMG_5" alt="" style="display: block; width: 7.5rem; margin: 10px auto 0;">

            <p style="font-family: 'MuseoSans300'; text-align: justify; font-size: 0.9rem;">
                Si tienes alguna duda o necesitas asistencia técnica, no dudes en contactarnos a través del correo electrónico: formacion@esit.gob.sv o escribiendo al número de WhatsApp: 7490-0005. Estamos para brindarte la asistencia que necesites
            </p>

            <p style="font-family: 'MuseoSans300'; text-align: center; font-size: 0.9rem; margin-top: 60px;">
                Saludos cordiales, <strong style="font-family: 'MuseoSans500';">Equipo ESIT</strong>
            </p>

        </div>

    </div>

    <div style="display: grid; max-width: 600px; height: 135px; margin: 0 auto; background-color: #304067;">

        <img src="@IMG_6" alt="" style="display: block; margin: auto; width: 44.5%;">
        <img src="@IMG_7" alt="" style="display: block; margin: 0px auto; width: 23.5%;">
        
    </div>

</body>

</html>